.divCont {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-inline: 0px;
  padding-inline: 0px;
  height: fit-content;
  bottom: 0;
  width: 100%;
  
}
.contButton{
display: flex;
flex-wrap: wrap;
height: fit-content ;
width: 80vw;
}
.contFull{
  
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80vw;
}
