.divCont {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-inline: 0px;
  padding-inline: 0px;
  height: fit-content;
  bottom: 0;
  width: 100%;  
  
}
.contButton{
display: flex;
flex-wrap: wrap;
height: fit-content ;
width: 80vw;
}
.contButton:hover{
  box-shadow: 0 4px 8px #b79449;
}
.contFull{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80vw;
}
.but{
  background-color: #b79449;
  font-family:'Handjet', cursive ;
  font-size: medium;
  
}

