.imgCont{
display: flex;
align-items: center;
justify-content: center;    
}
.landingCont{
background-color:#050505;
display: flex;
margin-top:5rem;
align-items: center;
justify-content: center;
flex-direction: column;
}
.button{
    padding: 14px 24px;
    border-color: white;
    border: 2px solid;
    border-radius: 1rem;   
    background-color: #050505;
    color: rgb(230, 224, 224);
    text-decoration: none;
    font-family:'Handjet', cursive ;
    
}
.contButton{
    display: flex;
    position: absolute;
    margin-top: 26rem;
}
.button:hover{
    box-shadow: 0 4px 8px #b79449;
}
.contWelcome{
    display: flex;
    color: white;
    font-family:'Handjet', cursive ;
    font-size: xx-large;
    margin-top: 8rem;
}

