.cardCont{
    color: aliceblue;
    background-color: #b79449;
    display: flex;
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:1rem;
    border-radius: 12px;
}
.cardCont:hover{
    box-shadow: 0 4px 8px #b79449;
}
