@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@600&display=swap');
.nav {
border-color: white;
 display: flex;
  justify-content: space-around;
  align-items: center;   
}
.navImg img {
  width: 45%;
  margin-top: 1rem;
}
.navLink {
  display: flex;
  justify-content: space-between;
  width: 15rem;
  font-size: 25px;  
}
.navLink img{ 
  width: 3rem;
}
.sub{
    width: 90px;      
}
.p{
  color: white;
  text-decoration: none;  
  border-color: black;
  border-radius: 1rem; 
  padding: 0.5rem;
  width: 5rem;  
  padding: 14px 25px;

}
.p:hover{
  box-shadow: 0 4px 8px #b79449;
}
.link{
  color: white;
  font-family:'Handjet', cursive ;
}
.activity{
  font-family:'Handjet', cursive ;
  color: white;
  text-decoration: none;  
  border-color: black;
  border-radius: 1rem;
  padding: 14px 25px;

}
.activity:hover{
  box-shadow: 0 4px 8px #b79449;
}
.search{
  width: 14.5rem;
  display: flex;
  justify-content: flex-end; 
  border-color: #b79449;
  border-radius: 2rem;
  font-size: 1.5rem;
  font-family:'Handjet', cursive ;
}
.ser{
  align-items: center;
  display: flex;   
}
.but{
  width: 7rem;
  display: flex;
  border-color: #b79449;
  border-radius: 2rem;
  font-size: 1.5rem;
  font-family:'Handjet', cursive ;
  
}



