.homeCont{
    text-align: center;   
    display: flex;
    flex-direction: column;
    justify-content: center;
   align-content: center;
}
.subtitle{
    color: white;
    font-family:'Handjet', cursive ;
}
.pag{    
    display: flex;
    justify-content: center;    
    
}


.popu{     
    border-color: #b79449;
    border-radius: 2rem;
    font-size: 1.5rem;
    font-family:'Handjet', cursive ;
}
.az{
    border-color: #b79449;
    border-radius: 2rem;
    font-size: 1.5rem;
    font-family:'Handjet', cursive ;
}
.ref{
    border-color: #b79449;
    border-radius: 2rem;
    font-size: 1.5rem;
    font-family:'Handjet', cursive ;
}
.divAz{
    display: flex;
    justify-content: left;
    margin-left: 20rem;   

}
.divGrande{    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}
.select{
font-size: 1.5rem;
font-family:'Handjet', cursive ;
border-radius: 2rem;
}

