.formCont form{
display: flex;
flex-direction:column;
justify-content: center;
align-items: center;
}
.formCont input{
width: 15rem;
}
.submit{
    margin: 2rem;    
    font-family:'Handjet', cursive ;
    border: 2px solid;
    border-radius: 1rem;  
    padding: 12px 18px;
    background-color: black;
    color: white;
}
.error{
    color: red;
    
}
.letter{
    color:white;
    margin-top: 2rem;
    font-family:'Handjet', cursive ;
}
.submit:hover{
    box-shadow: 0 4px 8px #b79449;
}

